<!DOCTYPE html>
<html>
<link rel="stylesheet" type="text/css" href="styles.css"/> 
<head>
    <meta charset="UTF-8">
</head>
<div class="phone-container">
    <div class="container">
        <div class="title">Create/Edit Profile</div>
        <input type="Full Name" class="input" placeholder="Full Name" required>
        <input type="text" class="input" placeholder="Username" required>
        <input type="password" class="input" placeholder="Password" required>
        <button class="button2">Back</button>
        <button class="button2">Save</button>
        </form>
    </div>
</div>
</html>