<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="styles.css"/> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add screen</title>
</head>
<body>
    <div class="delete-container">
    Would You Like to Delete This Recipe?
    You Cannot Undo this Action.
    <form method="POST" action="{{ url_for('show_deletescreen', recipe_name=recipe_name) }}">
        <input type="hidden" name="decision" value="yes">
        <button class="Delete-button" type="submit">Delete</button>
        <a href="{{ url_for('view_mainscreen') }}" class="Delete-button2">Back</a>
    </form>
    </div>
</body>
