<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="styles.css"/> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add screen</title>
</head>
<body>
    <div class="delete-container">
    Would You Like to Delete This Recipe?
    You Cannot Undo this Action.
    <form method = "POST" action = url_for"{{ url_for('deleterecipe') }}">
        <button class="Delete-button" type = "submit">Delete</button>
        <button class="Delete-button2">Back</button>
    </form>
    </div>
</body>