<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Login Page</title>
        <style>
            /* Add CSS styles for the login button */
            .login-button {
                padding: 10px 20px; /* Adjust the padding for spacing */
                font-size: 16px; /* Adjust the font size for size */
            }
        </style>
    </head>
<body>
    <div class="login-container">
        <h2>Login</h2>
        <form id="login-form">
            <input type="text" id="username" name="username" placeholder="Username">
            <br>
            <input type="password" id="password" name="password" placeholder="Password">
            <br>
            
        </form>
    </div>
    <div class="Login Button">
        <input type="submit" value="Login" class="login-b">
    </div>
</body>
</html>