<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="styles.css"/> 
</head>
<body>
    
    <div class="box">
        <p style="text-align:center">Food Photo</p>
    </div>
    <h1>Food Name</h1>
    <h2>Ingredients</h2>
    <div class="box">
        <p style="text-align:center">Ingredients</p>
    </div>
    <h2>Cooking Time</h2>
    <div class="box2">
        <p style="text-align:center">Cooking Time</p>
    </div>
    <h2>Instructions</h2>
    <div class="box">
        <p style="text-align:center">Instructions</p>
    </div>

</body>
</html>